<div class="login-header">
  <%= render "users/header" %>
</div>

<div class="login">
<div class="login-box">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div><br>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
    </div>

    <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "guest-login" %></li>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    
  <% end %>

  <%= render "users/shared/links" %>
</div>
</div>

<footer>
  <small>Copyright © 2022 Yui Takahashi All rights Reserved.</small>
</footer>
